### print hello world---1st code

In [3]:
print("Hello, World!")

Hello, World!

### If-Else statement--2nd code

Task
Given an integer,n , perform the following conditional actions:

If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of 6 to 20, print Weird
If n is even and greater than , print Not Weird

In [4]:
n= int(input())

if n%2!=0:
    print("Weird")
else :
    if n>=2 and n<=5:
        print("Not Weird")
    if n>=6 and n<=20:
        print("Weird")
    if n>20:
        print("Not Weird")

20
Weird

###Arthimetic operators--3rd code

Task

The provided code stub reads two integers from STDIN, a and b. Add code to print three lines where:

The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.

In [5]:
    a = int(input())
    b = int(input())
    print(a + b)
    print(a - b)
    print(a * b)

5
6
11
-1
30

### Division--4th code

Task

The provided code stub reads two integers, a and b, from STDIN.

Add logic to print two lines. The first line should contain the result of integer division, a //b . The second line should contain the result of float division,  a/b .

In [6]:
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

10
2
5
5.0

### Loops---5th code

Task

The provided code stub reads and integer,n , from STDIN. For all non-negative integers i<n, print i^2 .

In [8]:
 n = int(input())
 for i in range(n):
   print(i**2)

5
0
1
4
9
16

### Function---6th code

Task

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

Input Format

Read year, the year to test.

In [20]:
def is_leap(year):
    leap = False
    if year%4 == 0:
        if year%100 == 0:
            if year%400 == 0:
                leap = True
            else:
                leap = False
        else:
            leap = True
    else:
        leap = False
    
    return leap  

year = int(input())
print(is_leap(year))

2016
True

### print funtion---7th code

Task

The included code stub will read an integer,n , from STDIN.

Without using any string methods, try to print the following:
1,2,3...n

In [22]:
n = int(input())
for i in range(1,n+1):
  print(i,end="")

5
12345