### **Polar Coordinates**

**TASK**

You are given a complex z. Your task is to convert it to polar coordinates.

In [ ]:
import cmath
z=complex(input())
print ('{0:.3f}'.format(cmath.polar(z)[0]))
print ('{0:.3f}'.format(cmath.polar(z)[1])) # for printing upto 3 decimals

1+2j
2.236
1.107

### **FIND ANGLE MBC**

**TASK**

ABC is a right triangle,90°  at B.
Therefore,angle(ABC)=90° .

Point M is the midpoint of hypotenuse AC.

You are given the lengths AB and BC.
Your task is to find  (angle(MBC) , as shown in the figure) in degrees.

In [ ]:
import math
AB,BC=int(input()),int(input())
hypo=math.hypot(AB,BC)                      #for calculating hypotenuse
res=round(math.degrees(math.acos(BC/hypo))) #for calculating angle 
deg=chr(176)                                #for DEGREE symbol
print(res,deg, sep='')

10
10
45°

### **Triangle Quest 2**

**TASk**

You are given a positive integer N.
Your task is to print a palindromic triangle of size N.

In [ ]:
for i in range(1,int(input())+1):
  print((10**i//9)**2)                    #1*1=1

                                          #11*11=121

                                          #111*111=12321

5
1
121
12321
1234321
123454321

### **Mod Divmod**

**TASK**

Read in two integers, a and b, and print three lines.
The first line is the integer division a//b (While using Python2 remember to import division from __future__).
The second line is the result of the modulo operator: a%b.
The third line prints the divmod of a and b.

In [ ]:
a= int(input())
b= int(input())
print(a//b)
print(a%b)
print(divmod(a,b))

177
10
17
7
(17, 7)

### **Power - Mod Power**

**TASK**

You are given three integers: a,b ,m and . Print two lines.
On the first line, print the result of pow(a,b). On the second line, print the result of pow(a,b,m).

In [ ]:
a,b,m=[int(input()) for _ in range(3) ]
print(pow(a,b),pow(a,b,m),sep="\n")

3
4
5
81
1

### **Integers Come In All Sizes**

**TASK**

Read four numbers a,b ,c and d, and print the result of a^b + c^d .

In [ ]:
a,b,c,d= [int(input()) for _ in range(4) ]
print(pow(a,b)+pow(c,d))

9
29
7
27
4710194409608608369201743232

### **Triangle Quest**

**TASK**

You are given a positive integer N. Print a numerical triangle of height N-1 like the one below:
1
22
333
4444
55555
......

In [ ]:
for i in range(1,int(input())):
    print(i * (10**i - 1)//9)

5
1
22
333
4444